.center {
	text-align: center;
}

.copyright_UM {
	text-align: right;
	font-size: 0.6em;
}

figure.floatright {
	max-width: 30%;
	/*width: auto\9*0.3; !* ie8 *!*/
	/*width: auto\9*0.3; !* ie8 *!*/
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 5%;
	/*width: auto\9*0.3; !* ie8 *!*/
	width: 10%;
	height: auto;
	float: left;
}


#blog-logo {
  max-height: 150px;
}

.blog-title {
  margin: 10px 10px 10px 10px;
  font-size: 4rem;
  letter-spacing: -1px;
  text-shadow: var(--cover-title-text-shadow);
}

.post-title {
  margin: 0 0 1em 0;
  text-align: center;
}

#site-head.withCenteredImage {
  background-image: url("/introduction-to-UM-course/images/cover-image.jpg"); /* Default for larger screens */
}

ol, ul {
  /*padding: 10px;*/
  /*width: 25%;*/
  /*Centers the list*/
  margin: 0 0 0 -2.5em;
}
