.center {
	text-align: center;
}

.copyright_UM {
	text-align: right;
	font-size: 0.6em;
}

figure.floatright {
	max-width: 30%;
	/*width: auto\9*0.3; !* ie8 *!*/
	/*width: auto\9*0.3; !* ie8 *!*/
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 5%;
	/*width: auto\9*0.3; !* ie8 *!*/
	width: 10%;
	height: auto;
	float: left;
}

.profile_pic {
	max-width: 45%;
	float: left;
	height: auto;
/*	Add  a small black border*/
	border: 5px solid black;
	margin: 0 1.5em 1.5em 0;
}

#blog-logo {
  max-height: 150px;
}

.blog-title {
  margin: 10px 10px 10px 10px;
  font-size: 4rem;
  letter-spacing: -1px;
  text-shadow: var(--cover-title-text-shadow);
}

.post-title {
  margin: 0 0 1em 0;
  text-align: center;
}

#site-head.withCenteredImage {
  background-image: url("/introduction-to-UM-course/images/cover-image.jpg"); /* Default for larger screens */
}

ol, ul {
  /*padding: 10px;*/
  /*width: 25%;*/
  /*Centers the list*/
  margin: 0 0 0 -2.5em;
}

/* SUBMIT FORM */
.form-container {
	max-width: 800px;
	margin: 50px auto;
	padding: 20px;
	background: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
	margin-bottom: 20px;
	font-size: 24px;
	color: #333;
	text-align: center;
}
.form-group {
	margin-bottom: 15px;
}
.form-group label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
	color: #555;
}
.form-group input[type="text"],
.form-group input[type="email"] {
	width: calc(100% - 20px);
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 16px;
}
.form-group input[type="submit"] {
	width: 100%;
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
}
.form-group input[type="submit"]:hover {
	background-color: #45a049;
}
.captcha-container {
	text-align: center;
}
