.center {
	text-align: center;
}

.copyright_UM {
	text-align: right;
	font-size: 0.6em;
}

figure.floatright {
	max-width: 30%;
	/*width: auto\9*0.3; !* ie8 *!*/
	/*width: auto\9*0.3; !* ie8 *!*/
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 5%;
	/*width: auto\9*0.3; !* ie8 *!*/
	width: 10%;
	height: auto;
	float: left;
}
